[Unit]
Description=OpenStack ceilometer API service
After=syslog.target network.target

[Service]
Type=simple
User=gnocchi
ExecStart=/usr/bin/gnocchi-api --logfile /var/log/gnocchi/api.log
Restart=on-failure

[Install]
WantedBy=multi-user.target

